<h1>Stupid Coaching</h1>
<div class='m-5'>
  <div>
    <h3><%= @question %></h3>
    <h4>-You</h4>
  </div>
  <div class='bg-light text-dark'>
    <h3><%= @answer %></h3>
    <h4>-Your coach</h4>
  </div>
  <%= link_to 'ask a new question', ask_path %>
</div>
