<h1>Stupid Coaching</h1>
<form action="/answer" method="get" class='m-5'>
  <input type="text" name="question" placeholder="your question?">
  <input type="submit" class='btn btn-primary' value='Ask'>
</form>
<p>Ask your coach anything</p>
